@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

i{
  cursor: pointer;
}
#mat-form-field{
  width: 100%;
}
.mat-dialog-actions {
  float:right;
}
table {
  width: 100%;
}
#close-icon{
  float: right;
  cursor: pointer;
}

.container{
  max-width: 95%; 
  margin: auto;
}


mat-sidenav{
  margin: 0;
  padding:0%;
  height:100%;
  position: fixed;
  overflow: auto
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}