@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

i{
  cursor: pointer;
}
#mat-form-field{
  width: 100%;
}
.mat-dialog-actions {
  float:right;
}
table {
  width: 100%;
}
#close-icon{
  float: right;
  cursor: pointer;
}


mat-sidenav{
  margin: 0;
  padding:0%;
  height:100%;
  position: fixed;
  overflow: auto
}
