    <div class="dialog">
        <mat-icon id="close-icon" style="float:right; cursor: pointer" title="Close" (click)=onCancel()>close</mat-icon>
  
        <h1 mat-dialog-title>{{title}}</h1>
        
      <form name="form" #f="ngForm" novalidate>
        <div mat-dialog-content> </div>   

          <mat-form-field id="mat-form-field">
            <input matInput placeholder="Category Name" [(ngModel)]="category.name" 
            #name="ngModel" id="name" name="name"  required maxlength="100" autocomplete="off">
            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Group Name is mandatory.
              </div>
              <mat-error *ngIf="name.errors.maxlength">
                Category Name limit is 100 characters long.
              </mat-error>
            </mat-error>
          </mat-form-field>
       
        <div mat-dialog-actions class="mat-dialog-actions">
          <button mat-flat-button title="Cancel" (click)="onCancel()">Cancel</button>
          <button mat-flat-button cdkFocusInitial color="primary" title="OK" (click)="onSubmit(f.form)">OK</button>
        </div>
  
      </form>
    </div>
