<div class="login-container">
    <div class="login-content">
        <app-login-toolbar class="login-toolbar"></app-login-toolbar>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>Enter your new password:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="forgetForm" novalidate (submit)="onSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>New Password</mat-label>
                        <mat-icon matPrefix>lock_open</mat-icon>
                        <input [type]="hideNew ? 'password' : 'text'" matInput placeholder="New password" 
                        required formControlName="newpassword" autocomplete="off" minlength="8" maxlength="100">
                        <span mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="cursor: pointer;">
                            <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </span>
                          <mat-hint align="end">between 8 and 100 characters</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm New Password</mat-label>
                        <mat-icon matPrefix>lock_open</mat-icon>
                        <input matInput placeholder="New password" required formControlName="confirmnewpassword" 
                        [type]="hideConfirmNew ? 'password' : 'text'" autocomplete="off" minlength="8" maxlength="100">
                  <span mat-icon-button matSuffix (click)="hideConfirmNew = !hideConfirmNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="cursor: pointer;">
                    <mat-icon>{{hideConfirmNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </span> 
                    </mat-form-field>

                    <mat-error *ngIf="error" class="error">
                      {{ error }}
                    </mat-error>
        
                    <button [disabled]="loading" type="submit" mat-raised-button color="primary">Change Password</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
