
<div class="tab-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="'roles'" routerLinkActive #r="routerLinkActive" [active]="r.isActive">
      Roles
    </a>
    <a mat-tab-link [routerLink]="'users'" routerLinkActive #us="routerLinkActive" [active]="us.isActive">
      Users
    </a>
    <a mat-tab-link [routerLink]="'categories'" routerLinkActive #ct="routerLinkActive" [active]="ct.isActive">
      Categories
    </a>
    <a mat-tab-link [routerLink]="'classrooms'" routerLinkActive #cl="routerLinkActive" [active]="cl.isActive">
      Classrooms
    </a>
  </nav>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>