<div>
    <div class="container">
        <mat-icon id="close-icon" style="float:right; cursor: pointer" title="Close" (click)=onCancel()>close</mat-icon>
  
        <h1 mat-dialog-title>{{title}}</h1>
        
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div mat-dialog-content>
  

          <mat-form-field style="width: 100%">
            <input matInput placeholder="Choose Title" [(ngModel)]="group.title" [ngModelOptions]="{standalone: true}"
              class="form-control"  required maxlength="255" autocomplete="off">
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
              <div *ngIf="title.errors.required">
                Title is mandatory.
              </div>
              <mat-error *ngIf="title.errors.maxlength">
                Title limit is 255 characters long.
              </mat-error>
            </mat-error>
          </mat-form-field>
  
  
        </div>
        <div mat-dialog-actions style="float:right">
          <button mat-button title="Cancel" (click)="onCancel()">Cancel</button>
          <button mat-flat-button cdkFocusInitial color="primary" title="OK">OK</button>
        </div>
  
      </form>
    </div>
  </div>