<div>
    <div class="container">
      <mat-icon id="close-icon" (click)=onCancel()>close</mat-icon>
      <h1 mat-dialog-title>{{title}}</h1>
  
      <div mat-dialog-content>
  
        <mat-form-field>
            <input matInput placeholder="Name"  [(ngModel)]="mentors.name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name"  [(ngModel)]="mentors.lastName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Years Of Service"  [(ngModel)]="mentors.yearsOfService">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telephone"  [(ngModel)]="mentors.telephone">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Specialty"  [(ngModel)]="mentors.specialty">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email"  [(ngModel)]="mentors.email">
          </mat-form-field>
  
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button cdkFocusInitial color="primary" (click)="onSubmit()">OK</button>
      </div>
    </div>
  </div>