
    <mat-icon id="close-icon" title="Close" style="float:right; cursor: pointer" (click)=onCancel()>close</mat-icon>
    <h1 mat-dialog-title>Warning!</h1>

    <div mat-dialog-content style="overflow-y: hidden;">
        <p>Are you sure you want to delete? </p>
    </div>

    <div mat-dialog-actions style="float:right">
        <button mat-button title="Cancel" (click)="onCancel()">Cancel</button>
        <button mat-flat-button title="Delete" cdkFocusInitial color="warn" (click)="onDelete()">Delete</button>
    </div>
