    <div class="dialog">
        <mat-icon id="close-icon" style="float:right; cursor: pointer" title="Close" (click)=onCancel()>close</mat-icon>
  
        <h2 mat-dialog-title></h2>
        <mat-card style="background-color: orange;">
            <mat-card-content title="Mentor" style="color: whitesmoke; font-size: larger;">
                <mat-icon class="icon">record_voice_over</mat-icon>
                {{ mentor.firstName }} {{ mentor.lastName }}
            </mat-card-content>            
        </mat-card>
        <div>&nbsp;</div>
        <div *ngIf="memberGroups.length!==0" >
            <p  mat-dialog-title>Groups enrolled</p>
            <!-- <mat-divider></mat-divider> -->
               <div (ngModel)="memberGroups">
                <mat-card  *ngFor="let item of memberGroups" style="background-color: lightgray; display:inline-block; margin-right: 5px;">
                    <mat-card-content>{{ item.name }}</mat-card-content>
                </mat-card>
               </div>
                   

        </div>
      <form name="form" #f="ngForm" novalidate>       
          <div mat-dialog-content> </div>

          <mat-form-field id="mat-form-field">
            <mat-label *ngIf="filteredGroups.length!==0">Choose Group</mat-label>
            <mat-select  required [(ngModel)]="mentorMember.groupId"
            #groupId="ngModel" id="groupId" name="groupId" [disabled]="filteredGroups.length===0">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let group of filteredGroups" [value]="group.id">
              {{ group.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="groupId.invalid && (groupId.dirty || groupId.touched)" class="alert alert-danger">
              <div *ngIf="groupId.errors.required">
                Group is mandatory.
              </div>
            </mat-error>
          </mat-form-field>

          <mat-form-field id="mat-form-field">
            <mat-label *ngIf="filteredGroups.length!==0">Choose Mentor Type</mat-label>
            <mat-select  required [(ngModel)]="mentorMember.userType"
            #userType="ngModel" id="userType" name="userType" [disabled]="filteredGroups.length===0">
                <mat-option value="CoTrainer">Trainer</mat-option>
                <mat-option value="CoTrainer">CoTrainer</mat-option>
                <mat-option value="Assistent">Assistent</mat-option>
            </mat-select>
            <mat-error *ngIf="userType.invalid && (userType.dirty || userType.touched)" class="alert alert-danger">
              <div *ngIf="userType.errors.required">
                Mentor Type is mandatory.
              </div>
            </mat-error>
          </mat-form-field>

        <div mat-dialog-actions class="mat-dialog-actions">
          <button mat-flat-button title="Cancel" (click)="onCancel()">Cancel</button>
          <button mat-flat-button cdkFocusInitial color="primary" title="OK" (click)="onSubmit(f.form)">OK</button>
        </div>
  
      </form>
    </div>