<div>
    <div class="container">
      <mat-icon id="close-icon" (click)=onCancel()>close</mat-icon>
      <h1 mat-dialog-title>{{title}}</h1>
  
      <div mat-dialog-content>
  
        <mat-form-field>
          <input matInput placeholder="Choose Name" [(ngModel)]="subject.name">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Choose Description" [(ngModel)]="subject.description">
          </mat-form-field>

      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button cdkFocusInitial color="primary" (click)="onSubmit()">OK</button>
      </div>
    </div>
  </div>