<h2 >Academy Year List</h2>
<p style="color: grey; font-size: 13px;">List of all Academy Years</p>

<button mat-raised-button color="primary" (click)="openDialog(null)"style="margin-left: 1400px"><i class="material-icons">
  add
  </i>Add</button>

 <div class="container">
  <table style="width: 100%">
    <thead>
        <tr>
          <th>Created By</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of programs">
        <td>{{item.createdBy}}</td>
        <td>{{item.startDate | date}}</td>
        <td>{{item.endDate}}</td>
        <td>{{item.isCurrent}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="openDialog(item)"><i class="material-icons">
            edit
            </i>Edit</button>
          <button mat-raised-button color="warn" (click)="openWarningDialog(item)" ><i class="material-icons">
            clear
            </i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


  <mat-divider></mat-divider>


</div> 